<p>movimientos works!</p>

BUSCAR POR ID CUENTA <input type="text" [(ngModel)]="idCuenta"><br><br>
FECHA INICIO <input type="date" [(ngModel)]="fechaInicio"><br><br>
FECHA FINAL <input type="date" [(ngModel)]="fechaFinal"><br><br>
<br><br>
<!-- <button (click)="buscarPorCuenta(idCuenta)">BUSCAR CUENTA</button><br>-->
<button (click)="buscarPorFecha(fechaInicio,fechaFinal)">BUSCAR POR FECHA</button><br>

<div *ngFor="let mov of resultadoFechas">
    <p>{{mov.fecha}}</p>
    <p>{{mov.idCuenta}}</p>
    <p>{{mov.cantidad}}</p>
    <p>{{mov.operacion}}</p>

</div>

